*~
.deps/
.libs/
.cproject
.project
compile
clean
depcomp
install-sh
missing
*.o
*.lo
*.la
.settings/
m4/
apps/xmlsec1
apps/xmlsec_unit_tests
apps/xmlsec_fuzzer
apps/xmlsec_dsig_verify_fuzzer
apps/xmlsec_keyinfo_fuzzer
apps/xmlsec_keyload_fuzzer
autom4te.cache/
config.guess
config.sub
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
ltmain.sh
stamp-h1
.dirstamp
xmlsec1-config
xmlsec1-gcrypt.pc
xmlsec1-gnutls.pc
xmlsec1-nss.pc
xmlsec1-openssl.pc
xmlsec1.pc
xmlsec1.spec
xmlsec1Conf.sh
Makefile.in
Makefile
docs/md/examples/*.md
docs/xml/api/Doxyfile
!examples/Makefile
include/xmlsec/version.h
libtool
win32/apps_a.int/
win32/apps.int/
win32/apps_oss_fuzz.int/
win32/apps_oss_fuzz_a.int/
win32/binaries/
win32/configure.txt
win32/libxmlsec.int/
win32/libxmlsec_a.int/
win32/libxmlsec_mscng.int/
win32/libxmlsec_mscng_a.int/
win32/libxmlsec_mscrypto.int/
win32/libxmlsec_mscrypto_a.int/
win32/libxmlsec_nss.int/
win32/libxmlsec_nss_a.int/
win32/libxmlsec_openssl.int/
win32/libxmlsec_openssl_a.int/
win32/tmp
win32/vc140.pdb
.vscode/
.vs/
build-*/*
scripts/__pycache__/
.opencode/
