*~
*.orig
COPYING
.deps/
.libs/
*.o
*.lo
*.la
apps/xmlsec1
autom4te.cache/
config.guess
config.sub
aclocal.m4
config.h
config.log
config.status
configure
ltmain.sh
stamp-h1
xmlsec1-config
xmlsec1-gcrypt.pc
xmlsec1-gnutls.pc
xmlsec1-nss.pc
xmlsec1-openssl.pc
xmlsec1.pc
xmlsec1.spec
xmlsec1Conf.sh
Makefile.in
Makefile
apps/Makefile
docs/Makefile
docs/api/Makefile
include/Makefile
include/xmlsec/Makefile
include/xmlsec/gcrypt/Makefile
include/xmlsec/gnutls/Makefile
include/xmlsec/nss/Makefile
include/xmlsec/openssl/Makefile
include/xmlsec/private/Makefile
include/xmlsec/version.h
libtool
man/Makefile
src/Makefile
src/gcrypt/Makefile
src/gnutls/Makefile
src/nss/Makefile
src/openssl/Makefile
