<?xml version="1.0" encoding="UTF-8"?>
<Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
  <SignedInfo>
    <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
    <SignatureMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"/>
    <Reference URI="#object">
      <DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha256"/>
      <DigestValue></DigestValue>
    </Reference>
  </SignedInfo>
  <SignatureValue>
  </SignatureValue>
  <KeyInfo>
    <KeyName>TestKeyName-rsa-2048</KeyName>
    <RetrievalMethod URI="#mykey" Type="http://www.w3.org/2000/09/xmldsig#RSAKeyValue"/>
  </KeyInfo>
  <Object Id="object">some text</Object>
  <Object>
    <RSAKeyValue Id="mykey">
      <Modulus>
        3iVnhDXlgGiWvV2f21bCP4NAeTkwouWvN9K94SNeV01xzuvPg2GRb+ozF0/YbQ8jj7UDeuIgcLoB
        rC/jSMtp7gJp6zj3oHhX97NZVv5SBUmBOJRbB8efy3apTvTvWlzJQhO4WVXBRDqmA0dGHPRRuMB6
        l125wy+WBMWxO6BzUooe9m0OpQXjKokJKFcl9Zd4ht3EqXW8cuHgiyrtYzXTcO63W9+J6dFOi1DT
        YhKMkK53jMsModlleEUdqUHgTbxK0TBSYMa2sB1rGfcVq+QanOlsRHXAXiZM/BE6uPqlFq+g5osS
        ZbHfH2qC/0G/wKKlWzIx0YPjQSBq/MbroodKLQ==
      </Modulus>
      <Exponent>AQAB</Exponent>
    </RSAKeyValue>
  </Object>
</Signature>
