<?xml version="1.0" encoding="UTF-8"?>
<Envelope xmlns="urn:envelope">
  <Data>
	Hello, World!
  </Data>
  <Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
    <SignedInfo>
      <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
      <SignatureMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha512"/>
      <Reference URI="">
        <Transforms>
          <Transform Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature" />
            <Transform Algorithm="http://www.w3.org/TR/1999/REC-xpath-19991116">
            <XPath xmlns:dsig="http://www.w3.org/2000/09/xmldsig#">not(ancestor-or-self::dsig:Signature)</XPath>
            </Transform>
        </Transforms>
        <DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha512"/>
        <DigestValue></DigestValue>
      </Reference>
    </SignedInfo>
    <SignatureValue/>
    <KeyInfo>
      <X509Data>
        <X509Digest xmlns="http://www.w3.org/2009/xmldsig11#" Algorithm="http://www.w3.org/2001/04/xmlenc#sha512">
        T465vAwsVR7aozKMArF6U2ejvixzCFroVOI83ys5LdloZFammBTEW9MbxnJCsjpv
        MPZWJhe9kzm47dp0HPmXjw==
        </X509Digest>
        <X509Digest xmlns="http://www.w3.org/2009/xmldsig11#" Algorithm="http://www.w3.org/2001/04/xmlenc#sha512">
        unWJnmKmbI8FL0WL/8cFtz6e6p2ny8pcDfh1RgVr3w4K7yMKKEGwwMTqqQK578rT
        RU7CNoTsF0NwcH0VkemT6w==
        </X509Digest>
        <X509Digest xmlns="http://www.w3.org/2009/xmldsig11#" Algorithm="http://www.w3.org/2001/04/xmlenc#sha512">
        kkC91cNKYNOUTWFxEpKETo0gqJZivIsN6s5QP8gMo4cBSkVuOtNSsaCrp0ri9Cih
        8GCf06H0njYwP7gpkr83Ig==
        </X509Digest>
      </X509Data>
    </KeyInfo>
  </Signature>
</Envelope>
