<?xml version="1.0" encoding="UTF-8"?>
<Envelope xmlns="urn:envelope">
  <Data>
	Hello, World!
  </Data>
  <Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
    <SignedInfo>
      <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
      <SignatureMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha512"/>
      <Reference URI="">
        <Transforms>
          <Transform Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature" />
            <Transform Algorithm="http://www.w3.org/TR/1999/REC-xpath-19991116">
            <XPath xmlns:dsig="http://www.w3.org/2000/09/xmldsig#">not(ancestor-or-self::dsig:Signature)</XPath>
            </Transform>
        </Transforms>
        <DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha512"/>
        <DigestValue></DigestValue>
      </Reference>
    </SignedInfo>
    <SignatureValue/>
    <KeyInfo>
      <X509Data>
        <X509Digest xmlns="http://www.w3.org/2009/xmldsig11#" Algorithm="http://www.w3.org/2001/04/xmlenc#sha512">
        KRwh8Pv3wdTVlPlwwfc1wEygbxzxCtffw/A0zv7ChDV2Wgm3hSrvCAQXE0+5grrE
        yTlxGTAsUCDBkpj+2LWRyw==
        </X509Digest>
        <X509Digest xmlns="http://www.w3.org/2009/xmldsig11#" Algorithm="http://www.w3.org/2001/04/xmlenc#sha512">
        FNQ+V2gqs3/iDH0wVX4LgD9NrpUQhVZagsprDp42ZqmshnJjgRyPzOj++vqoghmv
        FLVP3GJNhVZAQ8t38EBmmw==
        </X509Digest>
        <X509Digest xmlns="http://www.w3.org/2009/xmldsig11#" Algorithm="http://www.w3.org/2001/04/xmlenc#sha512">
        yEAfGbAx03oA3KW+y4Bl0A9lGY8AiS4Gzd4CCDNUor+UtQltf05VeO1OfkOjmSZQ
        5m59F7bTmgC9Yni/og1oRw==
        </X509Digest>
      </X509Data>
    </KeyInfo>
  </Signature>
</Envelope>
