<?xml version="1.0"?>
<dsig:Signature xmlns:dsig="http://www.w3.org/2000/09/xmldsig#">
  <dsig:SignedInfo>
    <dsig:CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"/>
    <dsig:SignatureMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha256"/>
    <dsig:Reference URI="#DSig.Object_1" Type="http://www.w3.org/2000/09/xmldsig#Object">
      <dsig:DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha256"/>
      <dsig:DigestValue/>
    </dsig:Reference>
  </dsig:SignedInfo>
  <dsig:SignatureValue/>
  <dsig:KeyInfo>
    <dsig:KeyName>key-p521</dsig:KeyName>
    <dsig:KeyValue/>
  </dsig:KeyInfo>
  <dsig:Object Id="DSig.Object_1" MimeType="text/xml">
    <Web>up up and away</Web>
  </dsig:Object>
</dsig:Signature>
