<?xml version="1.0" encoding="UTF-8"?>
<EncryptedData Id="ED" Type="http://www.w3.org/2001/04/xmlenc#Content" xmlns="http://www.w3.org/2001/04/xmlenc#" xmlns:ds="http://www.w3.org/2000/09/xmldsig#">
  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc"/>
  <ds:KeyInfo>
    <as:EncapsulationMechanism xmlns:as="http://www.aleksey.com/xmlsec/2025/12/xmldsig-more#" Algorithm="http://www.aleksey.com/xmlsec/2025/12/xmldsig-more#ml-kem-1024">
      <ds:KeyInfo>
        <ds:KeyName>TestKeyName-ml-kem-1024</ds:KeyName>
      </ds:KeyInfo>
      <CipherData>
        <CipherValue/>
      </CipherData>
    </as:EncapsulationMechanism>
  </ds:KeyInfo>
  <CipherData>
    <CipherValue/>
  </CipherData>
</EncryptedData>
