<?xml version="1.0"?>
<xenc:EncryptedData xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" Type="http://www.w3.org/2001/04/xmlenc#Element">
  <xenc:EncryptionMethod Algorithm="http://www.w3.org/2009/xmlenc11#aes128-gcm"/>
  <dsig:KeyInfo xmlns:dsig="http://www.w3.org/2000/09/xmldsig#">
    <xenc:EncryptedKey xmlns:xenc="http://www.w3.org/2001/04/xmlenc#">
      <xenc:EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#kw-aes256"/>
      <dsig:KeyInfo xmlns:dsig="http://www.w3.org/2000/09/xmldsig#">
        <xenc:AgreementMethod Algorithm="http://www.w3.org/2009/xmlenc11#ECDH-ES">
          <xenc11:KeyDerivationMethod xmlns:xenc11="http://www.w3.org/2009/xmlenc11#" Algorithm="http://www.w3.org/2021/04/xmldsig-more#hkdf">
            <dsig-more:HKDFParams xmlns:dsig-more="http://www.w3.org/2021/04/xmldsig-more#">
              <dsig-more:PRF Algorithm="http://www.w3.org/2001/04/xmldsig-more#hmac-sha384"/>
              <dsig-more:Salt>AAECAwQFBgcICQoL</dsig-more:Salt>
              <dsig-more:KeyLength>32</dsig-more:KeyLength>
            </dsig-more:HKDFParams>
          </xenc11:KeyDerivationMethod>
          <xenc:OriginatorKeyInfo xmlns:dsig="http://www.w3.org/2000/09/xmldsig#">
            <dsig:KeyName>originator-key-name</dsig:KeyName>
          </xenc:OriginatorKeyInfo>
          <xenc:RecipientKeyInfo xmlns:dsig="http://www.w3.org/2000/09/xmldsig#">
            <dsig:KeyName>recipient-key-name</dsig:KeyName>
          </xenc:RecipientKeyInfo>
        </xenc:AgreementMethod>
      </dsig:KeyInfo>
      <xenc:CipherData>
        <xenc:CipherValue/>
      </xenc:CipherData>
    </xenc:EncryptedKey>
  </dsig:KeyInfo>
  <xenc:CipherData>
    <xenc:CipherValue/>
  </xenc:CipherData>
</xenc:EncryptedData>
