<?xml version="1.0" encoding="UTF-8"?>
<xenc:EncryptedData
  xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
  xmlns:xenc="http://www.w3.org/2001/04/xmlenc#"
  xmlns:xenc11="http://www.w3.org/2009/xmlenc11#">
  <xenc:EncryptionMethod Algorithm="http://www.w3.org/2009/xmlenc11#aes256-gcm"/>
  <ds:KeyInfo>
    <xenc11:DerivedKey>
      <xenc11:KeyDerivationMethod Algorithm="http://www.w3.org/2021/04/xmldsig-more#hkdf">
        <dsig-more:HKDFParams xmlns:dsig-more="http://www.w3.org/2021/04/xmldsig-more#">
          <dsig-more:PRF Algorithm="http://www.w3.org/2001/04/xmldsig-more#hmac-sha224"/>
          <dsig-more:Salt>AAECAwQFBgcICQoL</dsig-more:Salt>
          <dsig-more:KeyLength>32</dsig-more:KeyLength>
        </dsig-more:HKDFParams>
      </xenc11:KeyDerivationMethod>
      <xenc11:MasterKeyName>hkdf-ikm</xenc11:MasterKeyName>
    </xenc11:DerivedKey>
  </ds:KeyInfo>
  <xenc:CipherData>
    <xenc:CipherValue/>
  </xenc:CipherData>
</xenc:EncryptedData>
