<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE test [
<!ATTLIST Info Id ID #IMPLIED>
]>
<Letter>
    Hello, World!    
    <Info Id="SomeData">
	<!-- Commentary -->
	<Data1> Some data </Data1>
	<Data2> More data </Data2>
    </Info>
</Letter>
